*{
    margin: 0;
}
.container{
    
    height: 70vh;
    background-color: rgba(128, 128, 128, 0.55);
    border: 2px solid black;
}
.container>h1{
    text-align: center;
    margin-top: 20px;
}
form{
    border: 2px solid crimson;
    height: 70%;
    text-align: center;
    margin-top: 20px;
}
p{
    
    margin-top: 10px;
}
button{
    margin-top: 10px;
}
